.feature-information {
  width: auto;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.feature-information__title {
  font-family: SourceSansPro-Light;
  font-size: 18px;
  opacity: 0.8;
}

.feature-information__header {
  font-family: SourceSansPro-Black;
  font-size: 60px;
  margin: 0;
}

.feature-information__paragraph {
  font-family: SourceSansPro-Regular;
  font-size: 21px;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .functional-information {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .feature-information {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feature-information__header {
    font-size: 35px;
  }

  .feature-information__paragraph {
    font-size: 18px;
    width: 100%;
  }
}
