.hero-information-container {
  width: auto;
  max-width: 570px;
}

.hero-information-container--bottom {
  margin-top: 75px;
}

.hero-information-container::before {
  border-radius: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, #32fbfc, #3214f2);
  content: "";
  opacity: 0.9;
  position: absolute;
  transform: rotate(-45deg);
  z-index: -1;
  left: -200px;
  top: 700px;
  width: 320px;
  height: 320px;
}

.hero-information--bottom-position {
  margin-bottom: 30px;
}

.hero-information__header {
  font-family: SourceSansPro-Black;
  font-size: 70px;
  margin: 0;
}

.hero-information__paragraph {
  font-family: SourceSansPro-Light;
  font-size: 21px;
  opacity: 0.8;
  max-width: 470px;
}

@media (max-width: 768px) {
  .hero-information-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero-information-container--bottom {
    margin-top: 0px;
  }

  .hero-information__header {
    font-size: 42px;
  }

  .hero-information__paragraph {
    font-size: 18px;
    width: 100%;
  }

  .hero-information-container::before {
    left: -300px;
    top: 950px;
  }
}
