.functional-list {
  list-style-type: none;
  padding: 0;
}

.functional-list__item {
  margin-bottom: 50px;
}

.functional-list__link {
  font-family: SourceSansPro-SemiBold;
  font-size: 16px;
}

.functional-list__item:last-child {
  margin-bottom: 0;
}
