.getstarted-information {
  display: flex;
  flex-direction: column;
  width: auto;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.getstarted-information__title {
  font-family: SourceSansPro-Light;
  font-size: 18px;
  opacity: 0.8;
  text-align: center;
}

.getstarted-information__header {
  font-family: SourceSansPro-Black;
  font-size: 60px;
  margin: 0;
  text-align: center;
}

.getstarted-information__paragraph {
  font-family: SourceSansPro-Regular;
  font-size: 21px;
  opacity: 0.8;
  text-align: center;
}

@media (max-width: 768px) {
  .getstarted-information {
    padding-left: 10px;
    padding-right: 10px;
  }

  .getstarted-information__header {
    font-size: 35px;
  }

  .getstarted-information__paragraph {
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
}
