
* {
  box-sizing: border-box;
}

section {
  position: relative;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1 {
  font-family: SourceSansPro-Black;
  font-size: 70px;
  margin: 0;
}

h2 {
  font-family: SourceSansPro-Black;
  font-size: 60px;
  margin: 0;
}

h3 {
  font-family: SourceSansPro-Bold;
  font-size: 46px;
  margin: 0;
}

h4 {
  font-family: SourceSansPro-Bold;
  font-size: 18px;
  margin: 0;
}

/*styles for header-menu  */

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.navigation-list {
  display: flex;
  justify-content: center;
}

.navigation-item {
  margin-right: 15px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: black;
}

.navigation-item:last-child {
  margin-right: auto;
}

.title-text {
  font-family: SourceSansPro-Bold;
  font-size: 18px;
}

.title-purple {
  color: #540cfa;
}

.header {
  margin-bottom: 85px;
}
/*styles for header-menu  */

/*styles for common elements  */

.purple-button {
  background-color: #540cfa;
  border: 18px;
  border-radius: 4px;
  color: white;
  font-family: SourceSansPro;
  padding: 8px;
}
.purple-button:hover {
  background-color: #3907ad;
}

.purple-button-header {
  font-size: 14px;
}

.purple-button-page {
  font-size: 16px;
}

.paragraph1 {
  font-family: SourceSansPro-Light;
  font-size: 21px;
  opacity: .8;
}

.paragraph2 {
  font-family: SourceSansPro-Regular;
  font-size: 21px;
  opacity: .8;
}

.paragraph3 {
  font-family: SourceSansPro-Regular;
  font-size: 18px;
  margin-bottom: 10px;  
  opacity: .8;
}

.paragraph4 {
  font-family: SourceSansPro-Light;
  font-size: 18px;
  opacity: .8;
}

.email {
  display: flex;
  justify-content: space-between;
}

.email-title {
  color: #540cfa;
  font-family: SourceSansPro-Bold;
  font-size: 12px;
  font-weight: bold;
}

.email-value-block {
  border: none;
  display: flex;
  flex-direction: column;
}

.email-value {
  border: none;
  font-family: SourceSansPro-Regular;
  font-size: 16px;
}

.topic-two-column {
  display: flex;
  justify-content: space-around; 
}

.topic-one-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.topic-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
}

/*styles for common elements  */

.appication-presentation {
  margin-bottom: 160px;
}
.compatible-title {
  font-family: SourceSansPro-SemiBold;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: .3;
}

.compatible-list {
  display: flex;
  justify-content: space-around;
}

.compatible-list-item {
  opacity: .3;
}

.feature-presentation {
  margin-bottom: 80px;
}

.features-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 140px;
}

.features-list-item {
  align-items: center;
  display: flex;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
}

.features-list-item-desctiption {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  opacity: .7;
}

.features-list-item-link {
  font-family: SourceSansPro-SemiBold;
  font-size: 16px;
  opacity: .7;
  color: #540cfa;
}
.features-list-item-icon {
  align-items: center;
  display:flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 14px;
}

.automated-tracking-background {
  background-image: linear-gradient(to top, #9c09db, #1c0fd7);
}

.machine-learning-background {
  background-image: linear-gradient(to top, #f2c314, #fc3832);
}

.smart-notification-background {
  background-image: linear-gradient(to top, #32fbfc, #3214f2);
}

.series-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 140px;
}

.functional-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}

.functional-list-item-link {
  font-family: SourceSansPro-SemiBold;
  font-size: 16px;
}

.application-functional {
  margin-bottom: 300px;
}

.application-functional-background {
  height: 510px;
  width: 650px;
  background-image: url(../img/web-app-mockup.png)
}

.application-functional-picture {
  margin-top: 150px;
}

