@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
@import "community-feedback-container.css";
@import "community-information.css";
@import "compatible-information.css";
@import "compatible-list.css";
@import "email-form.css";
@import "feature-information.css";
@import "feature-information-container.css";
@import "features-list.css";
@import "feedback-list.css";
@import "footer.css";
@import "functional-information.css";
@import "functional-list.css";
@import "functional-preview.css";
@import "getstarted-information.css";
@import "hero-information.css";
@import "hero-preview.css";
@import "navigation.css";
@import "purple-button.css";
@import "series-list.css";
@import "twitt.css";
@import "two-columns-container.css";
@import "./test.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  overflow: hidden;
}
