
* {
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

/* navigation menu */

.navigation {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.navigation--white {
  background-color: #ffffff;
}

.navigation-pages__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navigation-pages__item {
  margin-right: 15px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: black;
}

.navigation-pages__item:last-child {
  margin-right: auto;
}

.navigation-title {
  font-family: SourceSansPro-Bold;
  font-size: 18px;
}

.navigation-title__purple-part {
  color: #540cfa;
}

.navigation-commands {
  align-items: center;
  display: flex;
}

.navigation-commands__item {
  margin-right: 15px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: black;
  padding: 0;
}

.navigation-commands__item--login {
  margin-right: 30px;
}

/* navigation menu */

 /* purple-button */

.purple-button {
  background-color: #540cfa;
  border: 18px;
  border-radius: 4px;
  color: white;
  font-family: SourceSansPro;
  padding: 8px;
}
.purple-button:hover {
  background-color: #3907ad;
}

.purple-button--header {
  font-size: 14px;
  width: 100px;
}

.purple-button--email {
  font-size: 16px;
}

.purple-button--community {
  font-family: SourceSansPro-SemiBold;
  max-width: 60%;
}

/* purple-button */

/* email-form */

.email-form {
  display: flex;
  justify-content: space-between;
}

.email-form--hero {
  width: 450px;
}

.email-form--getstarted {
  width: 450px;
  margin-bottom: 120px;
}

.email-input-container {
  border: none;
  display: flex;
  flex-direction: column;
}

.email-input-container__value {
  border: none;
  font-family: SourceSansPro-Regular;
  font-size: 16px;
}

.email-input-container__title {
  color: #540cfa;
  font-family: SourceSansPro-Bold;
  font-size: 12px;
  font-weight: bold;
}

/* email-form */

/*container with two columns */

.two-columns-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
}

.two-columns-container--appication-presentation {
  margin-bottom: 160px;
  margin-top: 85px;
}

.two-columns-container--application-functional {
  margin-bottom: 300px;
}

.two-columns-container--community {
  background-color: black; 
  color: #ffffff;
  height: 800px;
  overflow: hidden;
  margin-bottom: 100px;
}

/*container with two columns */

/* hero page information */

.hero-information-container {
 
}

.hero-information-container--bottom {
  margin-top: 75px;
}

.hero-information-container::before {
  border-radius: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to top, #32fbfc, #3214f2);
  content: "";
  opacity: 0.9;
  position: absolute;
  transform: rotate(-45deg);
  z-index: -1;
  left: -200px;
  top: 700px;
  width: 320px;
  height: 320px;
}

.hero-information--bottom-position {
  margin-bottom: 30px;
}


.hero-information__header {
  font-family: SourceSansPro-Black;
  font-size: 70px;
  margin: 0;
}

.hero-information__paragraph {
  font-family: SourceSansPro-Light;
  font-size: 21px;
  opacity: .8;
  width: 470px;
}

.hero-image-container {
  position: relative;
}

.hero-image-container::before {
  border-radius: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to top, #fc3832, #f2c314);
  content: "";
  opacity: 0.9;
  position: absolute;
  transform: rotate(-28deg);
  z-index: -2;
  right: -325px;
  top: -278px;
  width: 587px;
  height: 622px;
}

.hero-image-container::after {
  border-radius: 40px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(to top, #1c0fd7, #9c09db);
  content: "";
  opacity: 0.9;
  position: absolute;
  transform: rotate(-43deg);
  z-index: -1;
  right: -326px;
  top: -270px;
  width: 580px;
  height: 600px;
}

/* hero page information */

/* compatible page information */

.compatible-information {

}

.compatible-information--hero {
  margin-top: 85px;
  width: 450px;
}

/* compatible page information */

/*list with compatible devices */

.compatible-header {
  font-family: SourceSansPro-SemiBold;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: .3;
}

.compatible-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.compatible-list__item {
  opacity: .3;
}

.compatible-list__item:hover {
  transform: scale(1.3);
  transition: all 0.2s ease-out;
}

/*list with compatible devices */

/*feature page information */

.feature-information-container {
  text-align: center;
}

.feature-information-container--bottom-postition {
  margin-bottom: 80px;
}

.feature-information {

}

.feature-information__title {
  font-family: SourceSansPro-Light;
  font-size: 18px;
  opacity: .8;
}

.feature-information__header {
  font-family: SourceSansPro-Black;
  font-size: 60px;
  margin: 0;
}

.feature-information__paragraph {
  font-family: SourceSansPro-Regular;
  font-size: 21px;
  opacity: .8;
  width: 610px;
  margin-left: auto;
  margin-right: auto;
}

/*feature page information */

/* list with feautures description */

.features-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 140px;
  list-style-type: none;
  padding: 0;
}

.features-list__item {
  text-align: center;
}

.features-list__item:last-child {
  margin-right: 0;
}

.features-list__desctiption {
  font-family: SourceSansPro-Regular;
  font-size: 16px;
  opacity: .7;
}

.features-list__link {
  font-family: SourceSansPro-SemiBold;
  font-size: 16px;
  opacity: .7;
  color: #540cfa;
}
.features-list__icon {
  align-items: center;
  border-radius: 14px;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.features-list__icon--automated-tracking {
  background-image: linear-gradient(to top, #9c09db, #1c0fd7);
}

.features-list__icon--machine-learning {
  background-image: linear-gradient(to top, #f2c314, #fc3832);
}

.features-list__icon--smart-notification {
  background-image: linear-gradient(to top, #32fbfc, #3214f2);
}

/* list with feautures description */

/*list with serials */

.series-list {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}

.series-list--bottom-position {
  margin-bottom: 140px;
}

.series-list__item {

}

.series-list:hover .series-list__item {
   filter:blur(3px);
  opacity:.5;
  transform: scale(.98);
  box-shadow:none;
} 

.series-list:hover .series-list__item:hover {
  transform:scale(1);
  filter:blur(0px);
  opacity:1;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

/* list with serials */

/* functional page information */

.functional-information {

}

.functional-information__header {
  font-family: SourceSansPro-Bold;
  font-size: 46px;
  margin: 0;
}

.functional-information__paragraph {
  font-family: SourceSansPro-Regular;
  font-size: 18px;
  margin-bottom: 10px;  
  opacity: .8;
  width: 460px;
}

.functional-image-container {
  height: 510px;
  width: 650px;
  background-image: url(../img/web-app-mockup.png)
}

.functional-image--bottom-left {
  margin-left: -100px;
  margin-top: 150px;
}

/* functional page information */

/* list with functional disription */

.functional-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  list-style-type: none;
  padding: 0;
}

.functional-list__link {
  font-family: SourceSansPro-SemiBold;
  font-size: 16px;
}

/* list with functional disription */

/* community page information */

.community-information {
  display: flex;
  flex-direction: column;
}

.community-information--center-align {
  margin-top:200px;
  margin-top:100px;
}
.community-information__title {
  font-family: SourceSansPro-Light;
  font-size: 18px;
  opacity: .8;
}

.community-information__header {
  font-family: SourceSansPro-Bold;
  font-size: 46px;
  margin: 0;
}

.community-information__paragraph {
  font-family: SourceSansPro-Regular;
  font-size: 18px;
  margin-bottom: 10px;  
  opacity: .8;
  width: 420px;
}

.community-feedback-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

/* community page information */

/*list with twitter feedbacks */

.feedback-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.feedback-list--left {
  margin-top: -100px;
}

.feedback-list--right {
  margin-top: -180px;
}

.feedback-list__item {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.feedback-list__item:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}

.twitt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 260px;
  height: 210px;
  padding: 15px;
}

.twitt-profile-containter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.twitt-profile-title {
  display: flex;
}

.twitt-profile-title__img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.twitt-profile-title__header {
  font-family: SourceSansPro-SemiBold;
  font-size: 12px;
  margin: auto;
}

.twitt-text {
  font-family: SourceSansPro-Regular;
  font-size: 13px;
  opacity: .8;
}

.twitt-time {
  font-family: SourceSansPro-Regular;
  font-size: 12px;
  opacity: .5;
}

/*list with twitter feedbacks */

/*get started page information */

.getstarted-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.getstarted-information__title {
  font-family: SourceSansPro-Light;
  font-size: 18px;
  opacity: .8;
  text-align: center;
}

.getstarted-information__header {
  font-family: SourceSansPro-Black;
  font-size: 60px;
  margin: 0;
  text-align: center;
}

.getstarted-information__paragraph {
  font-family: SourceSansPro-Regular;
  font-size: 21px;
  opacity: .8;
  text-align: center;
  width: 610px;
}

/*get started page information */

/*footer page information */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.footer-list__item {
  margin-right: 30px;
  opacity: .2;
}

.footer-list__item:hover {
  transform: scale(1.3);
  transition: all 0.2s ease-out;
}

.footer-list__item:last-child {
  margin-right: 0;
}

.footer-copyright-text {
  font-family: SourceSansPro-SemiBold;
  font-size: 12px;
  opacity: .3;
}

/*footer page information */

@media (max-width: 615px) {

  .navigation-pages__list, .navigation-commands__item {
    display: none;
  }

  .two-columns-container {
    justify-content: flex-start;
    margin-bottom: auto;
  }
  
  .two-columns-container--appication-presentation {
    margin-top: 40px;
  }

  .two-columns-container--community {
    margin-top: 200px;
    margin-bottom: 100px;
    justify-content: center;
  }

  .hero-information-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero-information-container--bottom {
    margin-top: 0px;
  }

  .hero-information__header {
    font-size: 42px;
  }

  .hero-information__paragraph {
    font-size: 18px;
    width: 100%;
  }

  .hero-information-container::before {
    left: -300px;
    top: 950px;
  }

  .hero-image-container::before {
    right: -515px;
    top: -110px;
    transform: rotate(22deg);
  }
  
  .hero-image-container::after {
    right: -500px;
    top: -40px;
  }

  .email-form {
    width: 100%;
  }

  .compatible-information {
    width: 100%;
  }

  .feature-information {
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
  }

  .feature-information__header {
    font-size: 35px;
  }

  .feature-information__paragraph {
    font-size: 18px;
    width: 100%;
  }

  .feature-information-container--bottom-postition {
    margin-bottom: 50px;
  }

  .features-list {
    justify-content: left;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .features-list__item {
    margin-bottom: 50px;
    text-align: left;
  }

  .features-list__item:last-child {
    margin-bottom: auto;
  }

  .features-list__icon {
    margin-left: 0;
  }

  .series-list {
    margin-left: -200px;
  }

  .series-list--bottom-position {
    margin-bottom: auto;
  }

  .functional-information__header {
    font-size: 32px;
  }

  .functional-information__paragraph {
    font-size: 16px;
    width: 100%;
  }

  .functional-image-container {
    background-image: none;
  }

  .functional-image--bottom-left {
    margin-left: auto;
    margin-top: auto;
  }

  .community-information {
    padding-left: 15px;
    padding-right: 15px;
  }

  .community-information--center-align {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .community-information__header {
    font-size: 32px;
  }

  .community-information__paragraph {
    font-size: 16px;
    width: 100%;
  }

  .feedback-list {
    flex-direction: row;
  }

  .feedback-list--left {
    margin-top: 20px;
  }

  .feedback-list--right {
    display: none;
  }

  .purple-button--community {
    margin-top: 30px;
  }

  .getstarted-information {
    padding-left: 10px;
    padding-right: 10px;
  }

  .getstarted-information__header {
    font-size: 35px;
  }

  .getstarted-information__paragraph {
    font-size: 18px;
    text-align: center;
    width: 100%;
  }
}