@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese");
@import "_community-feedback-container.css";
@import "_community-information.css";
@import "_compatible-information.css";
@import "_compatible-list.css";
@import "_email-form.css";
@import "_feature-information.css";
@import "_feature-information-container.css";
@import "_features-list.css";
@import "_feedback-list.css";
@import "_footer.css";
@import "_functional-information.css";
@import "_functional-list.css";
@import "_functional-preview.css";
@import "_getstarted-information.css";
@import "_hero-information.css";
@import "_hero-preview.css";
@import "_navigation.css";
@import "_purple-button.css";
@import "_series-list.css";
@import "_twitt.css";
@import "_two-columns-container.css";
@import "./test.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  overflow: hidden;
}
