.navigation {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.navigation--white {
  background-color: #ffffff;
}

.navigation-pages__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navigation-pages__item {
  margin-right: 15px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: black;
}

.navigation-pages__item:last-child {
  margin-right: auto;
}

.navigation-title {
  font-family: SourceSansPro-Bold;
  font-size: 18px;
}

.navigation-title__purple-part {
  color: #540cfa;
}

.navigation-commands {
  align-items: center;
  display: flex;
}

.navigation-commands__item {
  margin-right: 15px;
  font-family: SourceSansPro-Regular;
  font-size: 14px;
  color: black;
  padding: 0;
}

.navigation-commands__item--login {
  margin-right: 30px;
}

@media (max-width: 768px) {
  .navigation-pages__list,
  .navigation-commands__item {
    display: none;
  }
}
