.purple-button {
  background-color: #540cfa;
  border: 18px;
  border-radius: 4px;
  color: white;
  font-family: SourceSansPro;
  padding: 8px;
}
.purple-button:hover {
  background-color: #3907ad;
}

.purple-button--header {
  font-size: 14px;
  width: 100px;
}

.purple-button--email {
  font-size: 16px;
}

.purple-button--community {
  font-family: SourceSansPro-SemiBold;
  max-width: 60%;
}

@media (max-width: 768px) {
  .purple-button--community {
    margin-top: 30px;
  }
}
